Repository sandraschi/virtualization-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandraschi, @vm-experts, @plugin-maintainers, @docs-team, @devops-team, @security-team

refactor: ISO categories to external JSON; add Windows 95
  config/iso_categories.json
  webapp/backend/app/main.py
Owners: @sandraschi

feat: dev tools autoinstall in Windows VMs
  webapp/backend/app/main.py
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

feat: dev tools autoinstall in Windows VMs
  webapp/backend/app/main.py
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

Add SafeSkill security badge (60/100)
  README.md
Owners: @sandraschi

fix: Access Denied on VBoxManage after shell=True removal
  src/virtualization_mcp/vbox_compat.py
Owners: @sandraschi

fix: Access Denied on VBoxManage after shell=True removal
  src/virtualization_mcp/vbox_compat.py
Owners: @sandraschi

fix: Windows 11 fwlink dead (redirects to bing.com)
  config/iso_categories.json
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

fix: Windows 11 fwlink dead (redirects to bing.com)
  config/iso_categories.json
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

fix: add Internet Archive as Win11 Pro source
  config/iso_categories.json
Owners: @sandraschi

fix: add Internet Archive as Win11 Pro source
  config/iso_categories.json
Owners: @sandraschi

docs: friendly README + 7 linked sub-docs
  README.md
  docs/architecture.md
  docs/hyper-v.md
  docs/install.md
  docs/sandbox.md
  docs/usage-cases.md
  docs/virtualbox.md
Owners: @sandraschi, @docs-team

docs: friendly README + 7 linked sub-docs
  README.md
  docs/architecture.md
  docs/hyper-v.md
  docs/install.md
  docs/sandbox.md
  docs/usage-cases.md
  docs/virtualbox.md
Owners: @sandraschi, @docs-team

docs: expand hyper-v.md from 46 to 83 lines
  docs/hyper-v.md
Owners: @sandraschi, @docs-team

docs: expand hyper-v.md from 46 to 83 lines
  docs/hyper-v.md
Owners: @sandraschi, @docs-team

justfile: practical recipes
  justfile
Owners: @sandraschi

justfile: practical recipes
  justfile
Owners: @sandraschi

lint: ruff clean on src/ and webapp/
  docs/specifications/sandboxing_technologies.md
  src/virtualization_mcp/__init__.py
  src/virtualization_mcp/all_tools_server.py
  src/virtualization_mcp/api/__init__.py
  src/virtualization_mcp/config.py
  src/virtualization_mcp/dual_server.py
  src/virtualization_mcp/json_encoder.py
  src/virtualization_mcp/main.py
  src/virtualization_mcp/plugins/__init__.py
  src/virtualization_mcp/server_v2/plugins/hyperv_manager.py
  src/virtualization_mcp/server_v2/plugins/windows_sandbox.py
  src/virtualization_mcp/server_v2/server.py
  src/virtualization_mcp/server_v2/utils/__init__.py
  src/virtualization_mcp/services/vm/devices.py
  src/virtualization_mcp/services/vm/metrics.py
  src/virtualization_mcp/services/vm/network/__init__.py
  src/virtualization_mcp/services/vm/network/utils.py
  src/virtualization_mcp/settings.py
  src/virtualization_mcp/tools/__init__.py
  src/virtualization_mcp/tools/monitoring/metrics_tools.py
  src/virtualization_mcp/tools/network/network_tools.py
  src/virtualization_mcp/tools/portmanteau/vm_management.py
  src/virtualization_mcp/tools/sandbox/sandbox_backend.py
  src/virtualization_mcp/tools/system/system_tools.py
  src/virtualization_mcp/tools/vm/vm_tools.py
  src/virtualization_mcp/utils/windows_sandbox_helper.py
  src/virtualization_mcp/vbox/compat_adapter.py
  src/virtualization_mcp/vbox/networking.py
  src/virtualization_mcp/vbox/vm_operations.py
  src/virtualization_mcp/web/server.py
  webapp/backend/app/main.py
  webapp/frontend/biome.json
Owners: @sandraschi, @docs-team

lint: ruff clean on src/ and webapp/
  docs/specifications/sandboxing_technologies.md
  src/virtualization_mcp/__init__.py
  src/virtualization_mcp/all_tools_server.py
  src/virtualization_mcp/api/__init__.py
  src/virtualization_mcp/config.py
  src/virtualization_mcp/dual_server.py
  src/virtualization_mcp/json_encoder.py
  src/virtualization_mcp/main.py
  src/virtualization_mcp/plugins/__init__.py
  src/virtualization_mcp/server_v2/plugins/hyperv_manager.py
  src/virtualization_mcp/server_v2/plugins/windows_sandbox.py
  src/virtualization_mcp/server_v2/server.py
  src/virtualization_mcp/server_v2/utils/__init__.py
  src/virtualization_mcp/services/vm/devices.py
  src/virtualization_mcp/services/vm/metrics.py
  src/virtualization_mcp/services/vm/network/__init__.py
  src/virtualization_mcp/services/vm/network/utils.py
  src/virtualization_mcp/settings.py
  src/virtualization_mcp/tools/__init__.py
  src/virtualization_mcp/tools/monitoring/metrics_tools.py
  src/virtualization_mcp/tools/network/network_tools.py
  src/virtualization_mcp/tools/portmanteau/vm_management.py
  src/virtualization_mcp/tools/sandbox/sandbox_backend.py
  src/virtualization_mcp/tools/system/system_tools.py
  src/virtualization_mcp/tools/vm/vm_tools.py
  src/virtualization_mcp/utils/windows_sandbox_helper.py
  src/virtualization_mcp/vbox/compat_adapter.py
  src/virtualization_mcp/vbox/networking.py
  src/virtualization_mcp/vbox/vm_operations.py
  src/virtualization_mcp/web/server.py
  webapp/backend/app/main.py
  webapp/frontend/biome.json
Owners: @sandraschi, @docs-team

feat: just dashboard, standardized README badges, GitHub metadata
  .gitignore
  README.md
  justfile
  webapp/start.ps1.bak.20260508_202256
  webapp/start.ps1.bak.20260508_202351
Owners: @sandraschi

feat: just dashboard, standardized README badges, GitHub metadata
  .gitignore
  README.md
  justfile
  webapp/start.ps1.bak.20260508_202256
  webapp/start.ps1.bak.20260508_202351
Owners: @sandraschi

feat: add INSTALL.md with just dashboard flow, PyPI rationale, and legacy setup
  INSTALL.md
Owners: @sandraschi

feat: add INSTALL.md with just dashboard flow, PyPI rationale, and legacy setup
  INSTALL.md
Owners: @sandraschi

fix: add just install one-liner to Quick Start
  INSTALL.md
Owners: @sandraschi

fix: add just install one-liner to Quick Start
  INSTALL.md
Owners: @sandraschi

fix: add Linux just install options to Quick Start
  INSTALL.md
Owners: @sandraschi

fix: add Linux just install options to Quick Start
  INSTALL.md
Owners: @sandraschi

fix: replace broken schip module reference with correct entry point
  start.ps1
Owners: @sandraschi

fix: replace broken schip module reference with correct entry point
  start.ps1
Owners: @sandraschi

fix: rename package from schip-mcp-virtualization to virtualization-mcp
  pyproject.toml
Owners: @sandraschi

fix: rename package from schip-mcp-virtualization to virtualization-mcp
  pyproject.toml
Owners: @sandraschi

fix: replace schip-mcp-virtualization references
  .github/workflows/industrial-launch.yml
Owners: @sandraschi, @devops-team

fix: replace schip-mcp-virtualization references
  .github/workflows/industrial-launch.yml
Owners: @sandraschi, @devops-team

docs: add AGENTS.md for OpenAI Codex agent context
  AGENTS.md
Owners: @sandraschi

docs: add AGENTS.md for OpenAI Codex agent context
  AGENTS.md
Owners: @sandraschi

docs: add CLAUDE.md for Claude Code agent context
  CLAUDE.md
Owners: @sandraschi

docs: add CLAUDE.md for Claude Code agent context
  CLAUDE.md
Owners: @sandraschi

feat: consumer sandbox bringup and fleet doc alignment.
  .github/workflows/industrial-launch.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  INSTALL.md
  README.md
  assets/sandbox/Consumer.wsb
  assets/sandbox/README.md
  assets/sandbox/Run-Consumer.cmd
  assets/sandbox/Setup-ConsumerSandbox.ps1
  assets/sandbox/Setup-DevInfraSandbox.ps1
  assets/sandbox/Show-ConsumerLog.ps1
  assets/sandbox/lib/Winget-Bootstrap.ps1
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  docs/install.md
  docs/sandbox.md
  pyproject.toml
  scripts/Launch-ConsumerSandbox.ps1
  start.bat
  start.ps1
  webapp/backend/app/main.py
  webapp/frontend/src/pages/sandbox.tsx
  webapp/frontend/vite.config.ts
Owners: @sandraschi, @devops-team, @docs-team

feat: consumer sandbox bringup and fleet doc alignment.
  .github/workflows/industrial-launch.yml
  .gitignore
  AGENTS.md
  CLAUDE.md
  INSTALL.md
  README.md
  assets/sandbox/Consumer.wsb
  assets/sandbox/README.md
  assets/sandbox/Run-Consumer.cmd
  assets/sandbox/Setup-ConsumerSandbox.ps1
  assets/sandbox/Setup-DevInfraSandbox.ps1
  assets/sandbox/Show-ConsumerLog.ps1
  assets/sandbox/lib/Winget-Bootstrap.ps1
  docs/CONFIGURATION.md
  docs/DEVELOPMENT.md
  docs/TROUBLESHOOTING.md
  docs/install.md
  docs/sandbox.md
  pyproject.toml
  scripts/Launch-ConsumerSandbox.ps1
  start.bat
  start.ps1
  webapp/backend/app/main.py
  webapp/frontend/src/pages/sandbox.tsx
  webapp/frontend/vite.config.ts
Owners: @sandraschi, @devops-team, @docs-team

docs: add AGENT_INSTALL_REFERENCE pointer to AGENTS.md
  AGENTS.md
Owners: @sandraschi

docs: add AGENT_INSTALL_REFERENCE pointer to AGENTS.md
  AGENTS.md
Owners: @sandraschi

.github/CODEOWNERS:

# Default owners for everything in the repo
* @sandraschi

# Core VM functionality
/src/virtualization-mcp/server/core/ @sandraschi @vm-experts

# Plugins
/src/virtualization-mcp/server/plugins/ @sandraschi @plugin-maintainers

# Documentation
/docs/ @sandraschi @docs-team

# CI/CD
.github/workflows/ @sandraschi @devops-team

# Security
SECURITY.md @sandraschi @security-team
