Repository sandraschi/virtualization-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandraschi, @vm-experts, @plugin-maintainers, @docs-team, @devops-team, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @sandraschi

# Core VM functionality
/src/virtualization-mcp/server/core/ @sandraschi @vm-experts

# Plugins
/src/virtualization-mcp/server/plugins/ @sandraschi @plugin-maintainers

# Documentation
/docs/ @sandraschi @docs-team

# CI/CD
.github/workflows/ @sandraschi @devops-team

# Security
SECURITY.md @sandraschi @security-team

Add portmanteau pattern README and update main README
  docs/portmanteau-pattern/README.md
Owners: @sandraschi, @docs-team

Separate public and private documentation
  docs-private/CLEANUP_SUMMARY.md
  docs-private/IMPORT_ERROR_FIX.md
  docs-private/PROJECT_STATUS_FINAL.md
  docs-private/README.md
  docs/README.md
Owners: @sandraschi, @docs-team

Add docs-private/ to .gitignore and move COVERAGE_PROGRESS.md
  .gitignore
Owners: @sandraschi

Add .cursorrules with Triple Initiatives reference
  .cursorrules
Owners: @sandraschi

Add modern CI/CD workflow
  .github/workflows/ci.yml
Owners: @sandraschi, @devops-team

Update .cursorrules with PowerShell syntax rules
  .cursorrules
Owners: @sandraschi

Improve backup script with Windows native ZIP
  scripts/backup-repo.ps1
Owners: @sandraschi

Update backup script with dual destinations
  scripts/backup-repo.ps1
Owners: @sandraschi

refactor: Remove description= params (FastMCP 2.12 compliance)
  remove_description_params.py
Owners: @sandraschi

fix: rust traits and sandbox accessibility
  src/lib.rs
  webapp/frontend/src/pages/sandbox.tsx
Owners: @sandraschi

fix: rust traits and sandbox accessibility
  src/lib.rs
  target/debug/.fingerprint/VirtualizationManagement-015f677f9834a477/output-test-lib-VirtualizationManagement
  target/debug/.fingerprint/VirtualizationManagement-015f677f9834a477/test-lib-VirtualizationManagement
  target/debug/.fingerprint/VirtualizationManagement-746c550e665283fe/lib-VirtualizationManagement
  target/debug/.fingerprint/VirtualizationManagement-746c550e665283fe/output-lib-VirtualizationManagement
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hez8qj1fpf-189v1cx-5kn7de87f5ura8rrm50ight2x/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hez8qj1fpf-189v1cx-5kn7de87f5ura8rrm50ight2x/query-cache.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hez8qj1fpf-189v1cx.lock
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfympsh1ro-0e04qqv-working/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfympsh1ro-0e04qqv-working/dep-graph.part.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfympsh1ro-0e04qqv-working/query-cache.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfympsh1ro-0e04qqv.lock
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfypvo5o7y-1v2f7ad-c4tmdst3kxpskcvc3lqwu1ciw/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfypvo5o7y-1v2f7ad-c4tmdst3kxpskcvc3lqwu1ciw/query-cache.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfypvo5o7y-1v2f7ad-c4tmdst3kxpskcvc3lqwu1ciw/work-products.bin
  target/debug/incremental/VirtualizationManagement-07iowl9oetbmd/s-hfypvo5o7y-1v2f7ad.lock
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hez8qiy34k-1n8chgk-eyz1352cfk6hz0xatl2y6ox43/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hez8qiy34k-1n8chgk-eyz1352cfk6hz0xatl2y6ox43/query-cache.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hez8qiy34k-1n8chgk-eyz1352cfk6hz0xatl2y6ox43/work-products.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hez8qiy34k-1n8chgk.lock
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfympsfsoq-1gkgnxs-working/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfympsfsoq-1gkgnxs-working/dep-graph.part.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfympsfsoq-1gkgnxs-working/query-cache.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfympsfsoq-1gkgnxs-working/work-products.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfympsfsoq-1gkgnxs.lock
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfypvo5o85-1yell4r-9d9d9vq4hjl3y9bqd350801op/dep-graph.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfypvo5o85-1yell4r-9d9d9vq4hjl3y9bqd350801op/query-cache.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfypvo5o85-1yell4r-9d9d9vq4hjl3y9bqd350801op/work-products.bin
  target/debug/incremental/VirtualizationManagement-2tb2gsg1gux8h/s-hfypvo5o85-1yell4r.lock
  target/flycheck22/stderr
  target/flycheck22/stdout
  webapp/frontend/src/pages/sandbox.tsx
Owners: @sandraschi

chore: add ruff pre-commit hook
  .pre-commit-config.yaml
Owners: @sandraschi

chore: add ruff pre-commit hook
  .pre-commit-config.yaml
Owners: @sandraschi

chore: gitignore Rust target/ (Zed IDE / rust-analyzer)
  .gitignore
Owners: @sandraschi

chore: gitignore Rust target/ (Zed IDE / rust-analyzer)
  .gitignore
Owners: @sandraschi

readme: clone repo before uv sync (complete install steps)
  README.md
Owners: @sandraschi

readme: clone repo before uv sync (complete install steps)
  README.md
Owners: @sandraschi

Standardize to SOTA v13.1 (Ruff, Just, Zero Rahrah)
  justfile
Owners: @sandraschi

Standardize to SOTA v13.1 (Ruff, Just, Zero Rahrah)
  justfile
Owners: @sandraschi

Standardize to SOTA v13.1 (Ruff, Just, Zero Rahrah)
  justfile
  pyproject.toml
Owners: @sandraschi

Standardize to SOTA v13.1 (Ruff, Just, Zero Rahrah)
  justfile
  pyproject.toml
Owners: @sandraschi

meta: industrial standardization (SOTA v13.1 + Dashboard v1.3.2)
  justfile
  pyproject.toml
Owners: @sandraschi

meta: industrial standardization (SOTA v13.1 + Dashboard v1.3.2)
  justfile
  pyproject.toml
Owners: @sandraschi

chore: commit working tree (includes fleet prefab-ui and other local changes)
  .github/workflows/industrial-launch.yml
  .windsurf/docs/Artificial_Intelligence/companies/gemini.md
  .windsurf/docs/Artificial_Intelligence/hosted_llms/gemini.md
  gemini.md
  justfile
  pyproject.toml
  uv.lock
  webapp/frontend/biome.json
  webapp/frontend/package.json
Owners: @sandraschi, @devops-team

chore: commit working tree (includes fleet prefab-ui and other local changes)
  .github/workflows/industrial-launch.yml
  .windsurf/docs/Artificial_Intelligence/companies/gemini.md
  .windsurf/docs/Artificial_Intelligence/hosted_llms/gemini.md
  gemini.md
  justfile
  pyproject.toml
  target/flycheck20/stderr
  target/flycheck20/stdout
  uv.lock
  webapp/frontend/biome.json
  webapp/frontend/package.json
Owners: @sandraschi, @devops-team

Industrialization: Fleet Harmonization P2 & Shell Hardening [SOTA 2026]
  README.md
  start.ps1
  webapp/start.ps1
Owners: @sandraschi

Industrialization: Fleet Harmonization P2 & Shell Hardening [SOTA 2026]
  README.md
  start.ps1
  target/flycheck20/stderr
  target/flycheck20/stdout
  webapp/start.ps1
Owners: @sandraschi

fix: sandbox script execution, logging, and diagnostics
  junit/test-results.xml
  webapp/backend/app/main.py
Owners: @sandraschi

fix: sandbox script execution, logging, and diagnostics
  junit/test-results.xml
  webapp/backend/app/main.py
Owners: @sandraschi

fix: add WindowsAppRuntime framework install before winget MSIX
  assets/sandbox/DevInfra.wsb
  assets/sandbox/Run-DevInfra.cmd
  assets/sandbox/Setup-DevInfraSandbox.ps1
  assets/sandbox/Show-DevInfraLog.ps1
  assets/sandbox/hello.wsb
Owners: @sandraschi

fix: add WindowsAppRuntime framework install before winget MSIX
  assets/sandbox/DevInfra.wsb
  assets/sandbox/Run-DevInfra.cmd
  assets/sandbox/Setup-DevInfraSandbox.ps1
  assets/sandbox/Show-DevInfraLog.ps1
  assets/sandbox/hello.wsb
Owners: @sandraschi

fix: remove EM DASH from PowerShell script (parser crash on sandbox)
  assets/sandbox/Setup-DevInfraSandbox.ps1
Owners: @sandraschi

fix: remove EM DASH from PowerShell script (parser crash on sandbox)
  assets/sandbox/Setup-DevInfraSandbox.ps1
Owners: @sandraschi

chore: add unicode safety check for non-ASCII dashes/smart quotes
  justfile
  scripts/check-unicode-safe.ps1
Owners: @sandraschi

chore: add unicode safety check for non-ASCII dashes/smart quotes
  justfile
  scripts/check-unicode-safe.ps1
Owners: @sandraschi

fix: suppress screenshot log spam for stopped VMs
  junit/test-results.xml
  webapp/backend/app/main.py
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

fix: suppress screenshot log spam for stopped VMs
  junit/test-results.xml
  webapp/backend/app/main.py
  webapp/frontend/src/pages/virtualbox.tsx
Owners: @sandraschi

fix: use DesktopAppInstaller_Dependencies.zip for winget deps instead of broken aka.ms URLs
  assets/sandbox/Setup-DevInfraSandbox.ps1
Owners: @sandraschi

fix: use DesktopAppInstaller_Dependencies.zip for winget deps instead of broken aka.ms URLs
  assets/sandbox/Setup-DevInfraSandbox.ps1
Owners: @sandraschi

fix: include .msixbundle files from deps zip when installing winget dependencies
  assets/sandbox/Setup-DevInfraSandbox.ps1
Owners: @sandraschi
