Repository sandraschi/virtualization-mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sandraschi, @vm-experts, @plugin-maintainers, @docs-team, @devops-team, @security-team

.github/CODEOWNERS:

# Default owners for everything in the repo
* @sandraschi

# Core VM functionality
/src/virtualization-mcp/server/core/ @sandraschi @vm-experts

# Plugins
/src/virtualization-mcp/server/plugins/ @sandraschi @plugin-maintainers

# Documentation
/docs/ @sandraschi @docs-team

# CI/CD
.github/workflows/ @sandraschi @devops-team

# Security
SECURITY.md @sandraschi @security-team

Consolidate workflows: disable 7 redundant workflows
  .github/workflows/beta-testing.yml.disabled
  .github/workflows/build-mcpb.yml.disabled
  .github/workflows/ci-cd-enhanced.yml.disabled
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/code-quality.yml.disabled
  .github/workflows/security-scan.yml.disabled
  .github/workflows/security.yml.disabled
  workflow-cleanup-plan.txt
Owners: @sandraschi, @devops-team

Further simplify workflows: keep only CI and security essentials
  .github/workflows/coverage-report.yml.disabled
  .github/workflows/glama-integration.yml.disabled
  .github/workflows/semgrep.yml.disabled
Owners: @sandraschi, @devops-team

Disable Dependabot to stop notification spam
  .github/dependabot.yml.disabled
Owners: @sandraschi

EMERGENCY: Disable ALL workflows to stop spam
  .github/workflows/ci.yml.disabled
  .github/workflows/codeql.yml.disabled
Owners: @sandraschi, @devops-team

Disable release.yml too - ZERO workflows active
  .github/workflows/release.yml.disabled
Owners: @sandraschi, @devops-team

Remove PyPI publishing - not needed for MCP servers
  .github/workflows/release.yml.disabled
Owners: @sandraschi, @devops-team

Add comprehensive release documentation and status report
  RELEASE_STATUS.md
  docs/QUICK_START.md
Owners: @sandraschi, @docs-team

Add comprehensive docstring coverage report
  docs/DOCSTRING_COVERAGE.md
Owners: @sandraschi, @docs-team

Fix tool registration to use full docstrings instead of short descriptions
  src/virtualization_mcp/tools/portmanteau/network_management.py
  src/virtualization_mcp/tools/portmanteau/snapshot_management.py
  src/virtualization_mcp/tools/portmanteau/storage_management.py
  src/virtualization_mcp/tools/portmanteau/system_management.py
  src/virtualization_mcp/tools/portmanteau/vm_management.py
  src/virtualization_mcp/tools/register_tools.py
Owners: @sandraschi

Remove ALL description parameters from tool registrations (FastMCP 2.12 compliance)
  src/virtualization_mcp/api/__init__.py
  src/virtualization_mcp/mcp_tools.py
Owners: @sandraschi

Add FastMCP 2.12 compliance report
  docs/FASTMCP_2.12_COMPLIANCE.md
Owners: @sandraschi, @docs-team

Organize development documentation
  docs/development/DOCSTRING_COVERAGE.md
  docs/development/FASTMCP_2.12_COMPLIANCE.md
  docs/development/RELEASE_STATUS.md
  workflow-cleanup-plan.txt
Owners: @sandraschi, @docs-team

Move development docs to mcp-technical/
  docs/mcp-technical/DOCSTRING_COVERAGE.md
  docs/mcp-technical/FASTMCP_2.12_COMPLIANCE.md
  docs/mcp-technical/RELEASE_STATUS.md
Owners: @sandraschi, @docs-team

Update .gitignore to prevent test artifacts and status files
  .gitignore
Owners: @sandraschi

Fix .gitignore and add cleanup summary
  .gitignore
  docs/mcp-technical/CLEANUP_SUMMARY.md
Owners: @sandraschi, @docs-team

Add final project status documentation
  docs/mcp-technical/PROJECT_STATUS_FINAL.md
Owners: @sandraschi, @docs-team

Add switchable tool mode: production (5 tools) vs testing (60+ tools)
  docs/mcp-technical/TOOL_MODE_CONFIGURATION.md
  mcp_config.testing.json
  src/virtualization_mcp/all_tools_server.py
  src/virtualization_mcp/config.py
  src/virtualization_mcp/tools/register_tools.py
Owners: @sandraschi, @docs-team

Add tool mode quick reference guide
  TOOL_MODE_QUICK_REFERENCE.md
Owners: @sandraschi

Add tool mode implementation documentation
  docs/mcp-technical/TOOL_MODE_IMPLEMENTATION.md
Owners: @sandraschi, @docs-team

Update README and CHANGELOG for v1.0.1b2 release
  CHANGELOG.md
  README.md
Owners: @sandraschi

Add discovery_management and hyperv_management portmanteau tools
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
  src/virtualization_mcp/tools/portmanteau/hyperv_management.py
Owners: @sandraschi

Update portmanteau tool count and platform detection
  src/virtualization_mcp/tools/portmanteau/__init__.py
Owners: @sandraschi

Update documentation for new portmanteau tool count
  README.md
  TOOL_MODE_QUICK_REFERENCE.md
Owners: @sandraschi

Update CHANGELOG with new portmanteau tools
  CHANGELOG.md
Owners: @sandraschi

Update TOOL_MODE_CONFIGURATION.md with new tool counts
  docs/mcp-technical/TOOL_MODE_CONFIGURATION.md
Owners: @sandraschi, @docs-team

Add Literal type hints to portmanteau action parameters for MCP discoverability
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
  src/virtualization_mcp/tools/portmanteau/hyperv_management.py
  src/virtualization_mcp/tools/portmanteau/network_management.py
  src/virtualization_mcp/tools/portmanteau/snapshot_management.py
  src/virtualization_mcp/tools/portmanteau/storage_management.py
  src/virtualization_mcp/tools/portmanteau/system_management.py
  src/virtualization_mcp/tools/portmanteau/vm_management.py
  uv.lock
Owners: @sandraschi

Add MCP portmanteau discoverability best practices documentation
  docs/mcp-technical/MCP_PORTMANTEAU_BEST_PRACTICES.md
Owners: @sandraschi, @docs-team

Fix discovery_management import error - use static tool info
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
Owners: @sandraschi

Add documentation for discovery_management import error fix
  docs/mcp-technical/IMPORT_ERROR_FIX.md
Owners: @sandraschi, @docs-team

Remove discovery_management - MCP protocol handles tool discovery natively
  src/virtualization_mcp/tools/portmanteau/__init__.py
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
Owners: @sandraschi

Revert tool count to 5-6 (removed discovery_management)
  README.md
  TOOL_MODE_QUICK_REFERENCE.md
Owners: @sandraschi

Update CHANGELOG and MCP best practices - remove discovery_management references
  CHANGELOG.md
Owners: @sandraschi

Final cleanup: remove all discovery_management refs from TOOL_MODE_CONFIGURATION
  docs/mcp-technical/TOOL_MODE_CONFIGURATION.md
Owners: @sandraschi, @docs-team

RESTORE discovery_management as portmanteau for help/status tools
  src/virtualization_mcp/tools/portmanteau/__init__.py
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
Owners: @sandraschi

Update docs for correct tool count (6-7 with discovery_management)
  README.md
  TOOL_MODE_QUICK_REFERENCE.md
Owners: @sandraschi

Final CHANGELOG correction - 6-7 tools with discovery_management
  CHANGELOG.md
Owners: @sandraschi

Update TOOL_MODE_CONFIGURATION to include discovery_management
  docs/mcp-technical/TOOL_MODE_CONFIGURATION.md
Owners: @sandraschi, @docs-team

Enhance discovery_management docstring to FastMCP 2.12 standards
  src/virtualization_mcp/tools/portmanteau/discovery_management.py
Owners: @sandraschi

Add documentation showing what Claude discovers at startup
  WHAT_CLAUDE_SEES.md
Owners: @sandraschi

Create comprehensive portmanteau pattern documentation
  docs/portmanteau-pattern/MCP_PORTMANTEAU_BEST_PRACTICES.md
  docs/portmanteau-pattern/PORTMANTEAU_CONCEPT.md
  docs/portmanteau-pattern/TOOL_MODE_QUICK_REFERENCE.md
  docs/portmanteau-pattern/WHAT_CLAUDE_SEES.md
Owners: @sandraschi, @docs-team
